.visible-from-xs {
    @media (max-width: 319px) {
        display: none !important;
    }
}

.visible-from-sm {
    @media (max-width: 575px) {
        display: none !important;
    }
}

.visible-from-md {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.visible-from-lg {
    @media (max-width: 1023px) {
        display: none !important;
    }
}

.visible-from-xl {
    @media (max-width: 1199px) {
        display: none !important;
    }
}

.visible-from-xxl {
    @media (max-width: 1399px) {
        display: none !important;
    }
}

.hidden-from-xs {
    @media (min-width: 320px) {
        display: none !important;
    }
}

.hidden-from-sm {
    @media (min-width: 576px) {
        display: none !important;
    }
}

.hidden-from-md {
    @media (min-width: 768px) {
        display: none !important;
    }
}

.hidden-from-lg {
    @media (min-width: 1024px) {
        display: none !important;
    }
}

.hidden-from-xl {
    @media (min-width: 1200px) {
        display: none !important;
    }
}

.hidden-from-xxl {
    @media (min-width: 1400px) {
        display: none !important;
    }
}
