// Colors
$color-dark: #10101d;
$color-dark-secondary: #272733;
$color-dark-footer: #3d4050;
$color-brand-primary: #3e9cdc;
$color-brand-secondary: #286690;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-text: #bbbbbb;

// Typography
$font-base: "Lato", sans-serif;
$font-title: "Raleway", sans-serif;
