@use "../variables" as *;
@use "../mixins" as *;

.order {
    background-color: $color-dark-secondary;
    padding-top: 120px;
    padding-bottom: 150px;
    text-align: center;
    overflow: hidden;
    background-image: url("../assets/order/bg.webp");
    background-size: cover;
    background-position: center;

    &__inner {
        @include container;
    }

    &__title {
        font-family: $font-base;
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 0%;
        line-height: 1;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 30px;
        word-spacing: 10px;

        @include respond-to("sm") {
            font-size: 28px;
        }

        @include respond-to("md") {
            font-size: 32px;
        }

        @include respond-to("xl") {
            font-size: 36px;
        }
    }

    &__title-accent {
        color: $color-brand-primary;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 1;
        color: $color-gray-text;
        margin-bottom: 80px;
    }
}
